<%- include('include/_head') %>

    </head>

    <body>
        <div class="about-page">
            <section id="top" class="about-header">
                <%- include('include/_header') %>
                    <div id="menuBG" class="about-intro">

                        <div class="about-heading" data-aos="zoom-out-down" data-aos-delay="1000">
                            <h2 data-aos="flip-up" data-aos-delay="2000">About Us</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem delectus maiores
                                sapiente
                                aperiam. Voluptate quas quo iure consequuntur ipsum voluptas laudantium, vel ipsa, atque
                                repudiandae
                                ipsam soluta qui, optio dolore corporis. Eius architecto consequatur necessitatibus qui
                                accusamus
                                laboriosam cumque vitae accusantium numquam, praesentium possimus, obcaecati commodi,
                                perspiciatis
                                ea dicta aspernatur cupiditate alias? Possimus et perferendis, blanditiis saepe neque
                                eligendi
                                at
                                iste labore, dolorum atque quod tenetur, exercitationem minima ad. Dicta delectus nulla
                                veniam
                                repudiandae saepe deserunt quo modi sed fuga?</p>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <div class="image" data-aos="flip-right">
                                    <img src="images/customer/pic1.jpg" alt="">
                                </div>
                                <div class="content">


                                    <h3>Card One</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laudantium officiis
                                        consectetur, iusto voluptas</p>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image" data-aos="flip-right" data-aos-delay="100">
                                    <img src="images/customer/pic2.jpg" alt="">
                                </div>
                                <div class="content">

                                    <h3>Card One</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laudantium officiis
                                        consectetur, iusto voluptas</p>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image" data-aos="flip-right" data-aos-delay="200">
                                    <img src="images/customer/pic3.jpg" alt="">
                                </div>
                                <div class="content">

                                    <h3>Card One</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laudantium officiis
                                        consectetur, iusto voluptas</p>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image" data-aos="flip-right" data-aos-delay="300">
                                    <img src="images/customer/pic4.jpg" alt="">
                                </div>
                                <div class="content">

                                    <h3>Card One</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laudantium officiis
                                        consectetur, iusto voluptas</p>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="jump-button" data-aos="fade-up" data-aos-offset="200">
                        <a href="#"> <i class="fas fa-level-up-alt"></i></a>
                    </div>



            </section>





            <section class="gt">
                <div class=" goal-story ">
                    <div class=" row">
                        <div class="gt-col goal " data-aos="fade-down" data-aos-offset="120">
                            <h1 data-aos-delay="1000" data-aos="zoom-in-right" data-aos-offset="0">Our Goal </h1>
                            <span data-aos-delay="1000" data-aos="zoom-in-right" data-aos-offset="0"> </span>
                            <p data-aos-delay="1000" data-aos="zoom-in-right" data-aos-offset="0">Lorem ipsum dolor sit
                                amet
                                consectetur adipisicing
                                elit. Id, harum aspernatur optio animi
                                consectetur,
                                repellendus, enim aliquam doloribus possimus odit suscipit totam odio magni! Repellendus
                                aspernatur
                                labore alias vero nostrum, debitis, natus incidunt magni ipsa exercitationem velit
                                fugiat
                                iste
                                quaerat
                                maiores soluta provident iure? Distinctio praesentium deleniti dolorum enim eveniet.</p>
                        </div>
                        <div class="gt-col story" data-aos="fade-up">
                            <h1 data-aos-delay="1000" data-aos="zoom-in-left" data-aos-offset="10">Our Story</h1>
                            <span data-aos-delay="1000" data-aos="zoom-in-left" data-aos-offset="10"></span>
                            <p data-aos-delay="1000" data-aos="zoom-in-left" data-aos-offset="10">Lorem ipsum dolor sit
                                amet
                                consectetur adipisicing
                                elit. Id, harum aspernatur optio animi
                                consectetur,
                                repellendus, enim aliquam doloribus possimus odit suscipit totam odio magni! Repellendus
                                aspernatur
                                labore alias vero nostrum, debitis, natus incidunt magni ipsa exercitationem velit
                                fugiat
                                iste
                                quaerat
                                maiores soluta provident iure? Distinctio praesentium deleniti dolorum enim eveniet.</p>

                        </div>
                    </div>
                </div>

            </section>
            <section class="contact-section">
                <div class="contact-heading" data-aos="fade-down">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur excepturi earum asperiores,
                        architecto nobis quisquam ipsum accusantium nisi repellat perspiciatis consequatur officia rerum
                        ullam, nam magni ea similique at quae quis porro et veniam laudantium! Nostrum voluptas sequi
                        corrupti, nihil totam minus est beatae inventore illum pariatur et iusto.</p>
                </div>

                <div class="contact-container" data-aos="fade-up">

                    <div class="contact-us">
                        <div class="contact-map" data-aos="fade-right">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d233848.01917566266!2d90.30948186988573!3d23.680417064402736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sccd%20dhaka!5e0!3m2!1sen!2sbd!4v1628283853350!5m2!1sen!2sbd"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="contact-form" data-aos="fade-left">
                            <h1 data-aos-delay="1500" data-aos="flip-down">Send Message</h1>
                            <hr>
                            <form action="">
                                <input type="text" placeholder="Name" class="contact-form-txt">
                                <input type="email" placeholder="Email" class="contact-form-txt">
                                <textarea placeholder="Message" class="contact-form-txtarea"></textarea>
                                <input type="submit" name="Submit" class="contact-form-btn">
                            </form>
                        </div>






                    </div>
                </div>
            </section>

            <%- include('include/_footer') %>



                <!-----------test ------>

        </div>
        <!--------- Javascript for toggle menu -------->

        <script src="js/js.js"></script>

        <!-------- jquery ------->
        <script src="js/jquery-3.6.0.min.js"></script>


        <!-- ---------- aos ----------->

        <script src="js/aos.js"></script>
        <script>
            $(document).ready(function () {
                AOS.init({
                    duration: 1000,
                    offset: 150
                });
            });
        </script>

        <!------ Owl carasoul ----->



        <!-------- vanila tilt ---------->
        <script type="text/javascript" src="js/vanila-tilt.js"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".card"), {
                max: 10,
                speed: 900,
                glare: true,
                "max-glare": .2
            });

            //It also supports NodeList
            VanillaTilt.init(document.querySelectorAll(".your-element"));
        </script>
    </body>

    </html>