<%- include('include/_head') %>
    <title>Studio</title>
    </head>

    <body>
        <div class="studio-page">
            <section class="studio-header">

                <%- include('include/_header') %>
                    <div id="menuBG" class="owl-studio-1 owl-carousel owl-theame">
                        <div class="  slide">
                            <div class="slide-bg-1">
                                <img id="studioBG" src="images/design-studio-1.jpg" alt="">
                            </div>
                            <div class="slide-content">
                                <h1>Our <span>Design</span> Studio 1</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim facere totam
                                    delectus
                                    culpa
                                    accusantium quas. Quaerat unde fugiat vero!</p>

                            </div>
                        </div>
                        <div class="  slide">
                            <div class="slide-bg-2">
                                <img id="studioBG" src="images/design-studio-2.jpg" alt="">
                            </div>

                            <div class="slide-content">
                                <h1>Our <span>Design</span> Studio 2</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim facere totam
                                    delectus
                                    culpa
                                    accusantium quas. Quaerat unde fugiat vero!</p>

                            </div>

                        </div>
                        <div class="  slide">
                            <div class="slide-bg-3">
                                <img id="studioBG" src="images/design-studio-3.jpg" alt="">
                            </div>
                            <div class="slide-content">
                                <h1>Our <span>Design</span> Studio 3</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim facere totam
                                    delectus
                                    culpa
                                    accusantium quas. Quaerat unde fugiat vero!</p>

                            </div>
                        </div>
                        <div class="  slide">
                            <div class="slide-bg-4">
                                <img id="studioBG" src="images/design-studio-4.jpg" alt="">
                            </div>
                            <div class="slide-content">
                                <h1>Our <span>Design</span> Studio 4</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim facere totam
                                    delectus
                                    culpa
                                    accusantium quas. Quaerat unde fugiat vero!</p>

                            </div>
                        </div>

                    </div>
                    <div class="jump-button" data-aos="fade-up" data-aos-offset="200">
                        <a href="#"> <i class="fas fa-level-up-alt"></i></a>
                    </div>



            </section>

            <section class="studio-sec-2">
                <div class="studio-container">
                    <div class="left" data-aos="fade-right"><img src="images/design-studio-1.jpg" alt=""></div>
                    <div class="right" data-aos="fade-left">
                        <div class="content">
                            <h1>This is heading</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, iusto eum vero alias fugiat
                                illum
                                quasi dolores illo vitae dolorum minima nesciunt consequatur provident iure deserunt
                                error.
                                Vitae,
                                nostrum dolores?</p>


                        </div>
                    </div>

                </div>
            </section>

            <section class="studio-sec-3">
                <h1 data-aos="fade-down" data-aos-delay="1000">heading</h1>
                <div class="carousel" data-aos="fade-up">
                    <ul>
                        <li><img src="images/design-studio-1.jpg" alt=""></li>
                        <li><img src="images/design-studio-2.jpg" alt=""></li>
                        <li><img src="images/design-studio-3.jpg" alt=""></li>
                        <li><img src="images/design-studio-4.jpg" alt=""></li>
                        <li><img src="images/design-studio-5.jpg" alt=""></li>
                        <li><img src="images/design-studio-6.jpg" alt=""></li>
                        <li><img src="images/design-studio-7.jpg" alt=""></li>
                        <li><img src="images/design-studio-8.jpg" alt=""></li>
                        <li><img src="images/design-studio-9.jpg" alt=""></li>
                        <li><img src="images/design-studio-10.jpg" alt=""></li>
                    </ul>
                </div>
            </section>


            <section class="studio-sec-4">
                <h1 data-aos="zoom-out-down">This is Galery</h1>
                <div class="gallery">
                    <a data-aos="fade-down" href="images/design-studio-1.jpg"><img src="images/design-studio-1.jpg"
                            alt=""></a>
                    <a data-aos="fade-up" href="images/design-studio-2.jpg"><img src="images/design-studio-2.jpg"
                            alt=""></a>
                    <a data-aos="fade-down" href="images/design-studio-3.jpg"><img src="images/design-studio-3.jpg"
                            alt=""></a>
                    <a data-aos="fade-up" href="images/design-studio-4.jpg"><img src="images/design-studio-4.jpg"
                            alt=""></a>
                    <a data-aos="fade-down" href="images/design-studio-5.jpg"><img src="images/design-studio-5.jpg"
                            alt=""></a>
                    <a data-aos="fade-up" href="images/design-studio-6.jpg"><img src="images/design-studio-6.jpg"
                            alt=""></a>
                    <a data-aos="fade-down" href="images/design-studio-7.jpg"><img src="images/design-studio-7.jpg"
                            alt=""></a>
                    <a data-aos="fade-up" href="images/design-studio-8.jpg"><img src="images/design-studio-8.jpg"
                            alt=""></a>
                    <a data-aos="fade-down" href="images/design-studio-9.jpg"><img src="images/design-studio-9.jpg"
                            alt=""></a>
                    <a data-aos="fade-up" href="images/design-studio-10.jpg"><img src="images/design-studio-10.jpg"
                            alt=""></a>
                </div>
            </section>

            <%- include('include/_footer') %>
        </div>
        <!--------- Javascript for toggle menu -------->

        <script src="js/js.js"></script>

        <!------ Javascript for customer slider ----->

        <script>
            var slide = document.getElementById("slide");
            var upArrow = document.getElementById("upArrow");
            var downArrow = document.getElementById("downArrow");

            let x = 0;

            upArrow.onclick = function () {


                if (x < 0) {
                    x = x + 300;
                    slide.style.top = x + "px";
                }


            }

            downArrow.onclick = function () {
                if (x > "-900") {
                    x = x - 300;
                    slide.style.top = x + "px";
                }
            }


        </script>


        <!-------- jquery ------->
        <!-------- jquery ------->
        <!-------- jquery ------->
        <!-------- jquery ------->
        <!-------- jquery ------->
        <script src="js/jquery-3.6.0.min.js"></script>

        <!--------Owl Carousel------------>

        <script src="js/owl.carousel.min.js"></script>

        <script>
            $(document).ready(function () {

                $('.owl-studio-1').owlCarousel({
                    items: 1,
                    loop: true,
                    nav: false,
                    dots: false,
                    dotsEach: true,
                    autoplay: true,
                    autoplaySpeed: 1000,
                    smartSpeed: 0,
                    autoplayTimeout: 7000,
                    mouseDrag: false,
                    touchDrag: false,
                    // animateOut: 'fadeIn',
                    // animateIn: 'fadeout'


                });
            });
        </script>

        <!------------ aos ----------->

        <script src="js/aos.js"></script>

        <script>
            $(document).ready(function () {
                AOS.init({
                    duration: 1000,
                    offset: 250
                });
            });
        </script>

        <!----- flipster-------->
        <script src="js/jquery.flipster.min.js"></script>
        <script>
            $('.carousel').flipster({
                style: 'carousel',
                spacing: -0.3,
                loop: true
            });

        </script>


        <!-------- lightgalery--------->

        <script src="js/lightgallery.min.js"></script>
        <script>
            lightGallery(document.querySelector('.gallery'));
        </script>
    </body>

    </html>