<div class="menu" data-aos="fade-down">
    <nav>
        <a href="index.html"><img src="images/logo.png" alt=""></a>
        <div class="nav-links" id="navLinks">

            <i class="fas fa-window-close " onclick="hideMenu()"></i>
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/posts?filter=*">Products</a> -->
                <li><a href="/products?filter=*">Products</a>
                    <div class="sub-menu-products">
                        <ul>
                            <li><a href="products?filter=denims">Denims</a></li>
                            <li><a href="products?filter=suits">Suits</a></li>
                            <li><a href="products?filter=sweater">Sweaters</a></li>
                            <li><a href="products?filter=intimates">Intimates</a>
                            <li><a href="products?filter=outingwear">Activewear</a></li>
                            <li><a href="products?filter=activewear">Outingwear</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/studio">Design Studio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/admin/product/submit-product">Submit</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>

        <i class="fas fa-bars " id="hideButton" onclick="showMenu()"></i>
    </nav>
</div>